<ngx-loading-bar [includeSpinner]='false'></ngx-loading-bar>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> List Subjects
                <button class="btn btn-success float-right" data-toggle="modal" data-target="#modalAdd">Add New Subject</button>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <p for="type" class="col-md-2" style="padding: 6px 12px; text-align: center;">Subject:</p>
                    <select class="form-control col-md-6" id="type" [ngModel]="selectedSub" (change)="filterBySubName($event.target.value)">
                        <option [ngValue]="all" selected>All</option>
                        <option *ngFor = "let monHoc of monhocList" [ngValue]="monHoc.ten">{{monHoc.ten}}</option>
                    </select>
                </div>
                <table datatable #dataTable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped row-border hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let monhoc of monhocList; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{monhoc.ma}}</td>
                            <td>{{monhoc.ten}}</td>
                            <td>
                                <label class="switch switch-label switch-pill switch-success">
                                    <input type="checkbox" class="switch-input" [checked]="monhoc.hienThi == true" #hthi (change)="Changed(i, $event)">
                                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                </label>
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-danger active" data-toggle="modal" data-target="#modalDelete" (click)="Value(i)" name="delete-{{i}}"> <i class="fas fa-trash-alt"></i></button>
                                &nbsp;
                                <button type="button" class="btn btn-sm btn-primary active" data-toggle="modal" data-target="#modalUpdate" (click)="Value(i)" name="update-{{i}}"><i class="fas fa-pencil-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!--Modal Add-->
    <!-- The Modal -->
    <form [formGroup]="form">
    <div class="modal" id="modalAdd">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header alert-success">
                    <h4 class="modal-title">New Subject</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body" >
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="row form">
                                    <div class="col-md-12">
                                        <div class="form-group"> 
                                            <label for="code">Code:</label>
                                            <input class="form-control" type="text" id="code" name="code" placeholder="Code" [(ngModel)]="newsub.code" [formControl]="form.controls['code']">
                                            <button class="btn btn-success" (click)="Check()">
                                                <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i>  Check Ma
                                            </button>
                                            <p *ngIf="form.controls['code'].hasError('required') && form.controls['code'].touched" class="text-danger" >Code is required</p>
                                            <p *ngIf="checkSubCode==true" class="text-danger">{{errorms}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="subname">Name:</label>
                                            <input class="form-control" type="text" name="subname" id="subname" placeholder="Subject Name" [(ngModel)]="newsub.name" [formControl]="form.controls['name']">
                                        </div>
                                        <p *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="text-danger" >Name is required</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="Add()" [disabled]="!form.valid" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    </form>
    
    <!--Modal Add-->
    <!-- The Modal -->
    <ngx-loading-bar [includeSpinner]='false'></ngx-loading-bar>
    <form [formGroup]="form1">
    <div class="modal" id="modalUpdate">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header alert-primary">
                    <h4 class="modal-title">Update Subject Information</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="row form">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="code">Code:</label>
                                            <input class="form-control" type="text" name="code" id="code1" placeholder="Code" value='{{ma}}' disabled #subcode>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="subname">Name:</label>
                                            <input class="form-control" type="text" name="subname" id="subname1" placeholder="Subject Name" value='{{ten}}' [(ngModel)]="updatesub.name" [formControl]="form1.controls['name']">
                                        </div>
                                        <p *ngIf="form1.controls['name'].hasError('required') && form1.controls['name'].touched" class="text-danger" >Name is required</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Update(subcode)" [disabled]="!form1.valid" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
    
    <!--Modal Delete-->
    <!-- The Modal -->
    <div class="modal fade" id="modalDelete">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header alert-danger">
                    <h4 class="modal-title">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    <p class="alert alert-danger">Are you sure? Information of this subject will be deleted!!!</p>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="row form">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="code">Code:</label>
                                            <input class="form-control" type="text" name="code" id="code2" placeholder="Code" disabled value='{{ma}}' disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="subname">Name:</label>
                                            <input class="form-control" type="text" name="subname" id="subname2" placeholder="Subject Name" disabled value='{{ten}}'>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Delete()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>