USE [master]
GO
/****** Object:  Database [NguyenQuangTuanLoc_Final]    Script Date: 10/12/2018 3:59:48 PM ******/
CREATE DATABASE [NguyenQuangTuanLoc_Final] ON  PRIMARY 
( NAME = N'NguyenQuangTuanLoc_Final', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\NguyenQuangTuanLoc_Final.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NguyenQuangTuanLoc_Final_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\NguyenQuangTuanLoc_Final_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NguyenQuangTuanLoc_Final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NguyenQuangTuanLoc_Final]
GO
/****** Object:  Table [dbo].[BOOKS]    Script Date: 10/12/2018 3:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKS](
	[BOO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TIT_ID] [int] NOT NULL,
	[BARCODE] [nvarchar](100) NOT NULL,
	[STATUS] [int] NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [int] NOT NULL,
 CONSTRAINT [PK_BOOKS] PRIMARY KEY CLUSTERED 
(
	[BOO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHECKOUTDETAILS]    Script Date: 10/12/2018 3:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHECKOUTDETAILS](
	[CHKD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CHK_ID] [bigint] NOT NULL,
	[BOO_ID] [bigint] NOT NULL,
	[CHECKOUTDATE] [datetime] NOT NULL,
	[CHECKOUTBY] [int] NOT NULL,
	[CHECKINDATE] [datetime] NULL,
	[CHECKINBY] [int] NULL,
 CONSTRAINT [PK_CHECKOUTDETAILS] PRIMARY KEY CLUSTERED 
(
	[CHKD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHECKOUTS]    Script Date: 10/12/2018 3:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHECKOUTS](
	[CHK_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LIB_ID] [int] NOT NULL,
	[MEM_ID] [int] NOT NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [int] NULL,
 CONSTRAINT [PK_CHECKOUTS] PRIMARY KEY CLUSTERED 
(
	[CHK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LIBRARIANS]    Script Date: 10/12/2018 3:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRARIANS](
	[LIB_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[FULLNAME] [nvarchar](100) NOT NULL,
	[GENDER] [bit] NULL,
	[EMAIL] [nvarchar](100) NULL,
	[PHONE] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [int] NOT NULL,
 CONSTRAINT [PK_LIBRARIANS] PRIMARY KEY CLUSTERED 
(
	[LIB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MEMBERS]    Script Date: 10/12/2018 3:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBERS](
	[MEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[FULLNAME] [nvarchar](100) NOT NULL,
	[GENDER] [bit] NULL,
	[EMAIL] [nvarchar](100) NULL,
	[PHONE] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [int] NOT NULL,
 CONSTRAINT [PK_MEMBERS] PRIMARY KEY CLUSTERED 
(
	[MEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TITLES]    Script Date: 10/12/2018 3:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TITLES](
	[TIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](255) NOT NULL,
	[PUBLISHINGYEAR] [int] NULL,
	[PUBLISHER] [nvarchar](255) NOT NULL,
	[AUTHOR] [nvarchar](255) NOT NULL,
	[DESCRIPTION] [ntext] NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [int] NOT NULL,
 CONSTRAINT [PK_TITLES] PRIMARY KEY CLUSTERED 
(
	[TIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BOOKS] ON 

INSERT [dbo].[BOOKS] ([BOO_ID], [TIT_ID], [BARCODE], [STATUS], [CREATEDDATE], [CREATEDBY]) VALUES (1, 1, N'a', 2, CAST(N'2018-10-12 14:15:33.660' AS DateTime), 1)
INSERT [dbo].[BOOKS] ([BOO_ID], [TIT_ID], [BARCODE], [STATUS], [CREATEDDATE], [CREATEDBY]) VALUES (2, 3, N'b', 1, CAST(N'2018-10-12 14:15:33.660' AS DateTime), 1)
INSERT [dbo].[BOOKS] ([BOO_ID], [TIT_ID], [BARCODE], [STATUS], [CREATEDDATE], [CREATEDBY]) VALUES (3, 9, N'c', 0, CAST(N'2018-10-12 14:15:33.660' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[BOOKS] OFF
SET IDENTITY_INSERT [dbo].[LIBRARIANS] ON 

INSERT [dbo].[LIBRARIANS] ([LIB_ID], [ACCOUNT], [PASSWORD], [FULLNAME], [GENDER], [EMAIL], [PHONE], [CREATEDDATE], [CREATEDBY]) VALUES (1, N'libarian1', N'libarian1', N'vanteo', 1, N'abc@gmail.com', N'0969696969', CAST(N'2018-10-12 14:15:33.660' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[LIBRARIANS] OFF
SET IDENTITY_INSERT [dbo].[TITLES] ON 

INSERT [dbo].[TITLES] ([TIT_ID], [TITLE], [PUBLISHINGYEAR], [PUBLISHER], [AUTHOR], [DESCRIPTION], [CREATEDDATE], [CREATEDBY]) VALUES (1, N'abc', 1999, N'xyz', N'abcxyz', N'test', CAST(N'2018-10-12 14:15:33.660' AS DateTime), 1)
INSERT [dbo].[TITLES] ([TIT_ID], [TITLE], [PUBLISHINGYEAR], [PUBLISHER], [AUTHOR], [DESCRIPTION], [CREATEDDATE], [CREATEDBY]) VALUES (2, N'finaltest', 1989, N'me', N'abcxyz', N'test', CAST(N'2018-10-12 14:15:33.660' AS DateTime), 1)
INSERT [dbo].[TITLES] ([TIT_ID], [TITLE], [PUBLISHINGYEAR], [PUBLISHER], [AUTHOR], [DESCRIPTION], [CREATEDDATE], [CREATEDBY]) VALUES (3, N'abad', 1989, N'me', N'abcxyz', N'test', CAST(N'2018-10-12 14:39:32.700' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TITLES] OFF
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 10/12/2018 3:59:48 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[BOOKS]
(
	[TIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 10/12/2018 3:59:48 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[CHECKOUTDETAILS]
(
	[CHK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_4_FK]    Script Date: 10/12/2018 3:59:48 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_4_FK] ON [dbo].[CHECKOUTDETAILS]
(
	[BOO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_2_FK]    Script Date: 10/12/2018 3:59:48 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_2_FK] ON [dbo].[CHECKOUTS]
(
	[LIB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_5_FK]    Script Date: 10/12/2018 3:59:48 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_5_FK] ON [dbo].[CHECKOUTS]
(
	[MEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKS_RELATIONS_TITLES] FOREIGN KEY([TIT_ID])
REFERENCES [dbo].[TITLES] ([TIT_ID])
GO
ALTER TABLE [dbo].[BOOKS] CHECK CONSTRAINT [FK_BOOKS_RELATIONS_TITLES]
GO
ALTER TABLE [dbo].[CHECKOUTDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_CHECKOUT_RELATIONS_BOOKS] FOREIGN KEY([BOO_ID])
REFERENCES [dbo].[BOOKS] ([BOO_ID])
GO
ALTER TABLE [dbo].[CHECKOUTDETAILS] CHECK CONSTRAINT [FK_CHECKOUT_RELATIONS_BOOKS]
GO
ALTER TABLE [dbo].[CHECKOUTDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_CHECKOUT_RELATIONS_CHECKOUT] FOREIGN KEY([CHK_ID])
REFERENCES [dbo].[CHECKOUTS] ([CHK_ID])
GO
ALTER TABLE [dbo].[CHECKOUTDETAILS] CHECK CONSTRAINT [FK_CHECKOUT_RELATIONS_CHECKOUT]
GO
ALTER TABLE [dbo].[CHECKOUTS]  WITH CHECK ADD  CONSTRAINT [FK_CHECKOUT_RELATIONS_LIBRARIA] FOREIGN KEY([LIB_ID])
REFERENCES [dbo].[LIBRARIANS] ([LIB_ID])
GO
ALTER TABLE [dbo].[CHECKOUTS] CHECK CONSTRAINT [FK_CHECKOUT_RELATIONS_LIBRARIA]
GO
ALTER TABLE [dbo].[CHECKOUTS]  WITH CHECK ADD  CONSTRAINT [FK_CHECKOUT_RELATIONS_MEMBERS] FOREIGN KEY([MEM_ID])
REFERENCES [dbo].[MEMBERS] ([MEM_ID])
GO
ALTER TABLE [dbo].[CHECKOUTS] CHECK CONSTRAINT [FK_CHECKOUT_RELATIONS_MEMBERS]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: Available, 1: Borrowed, 2: Corrupt' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKS', @level2type=N'COLUMN',@level2name=N'STATUS'
GO
USE [master]
GO
