<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> List Questions
            <button class="btn btn-success pull-right" data-toggle="modal" data-target="#modalAdd">Add New Question</button>
        </div>
        <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped row-border hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Content</th>
                        <th>Level</th>
                        <th>Score</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>abc</td>
                        <td>This is a content</td>
                        <td>Hard</td>
                        <td>0.5</td>
                        <td>
                            <label class="switch switch-pill switch-success">
                                <input type="checkbox" class="switch-input" checked>
                                <span class="switch-slider"></span>
                            </label>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-danger active" data-toggle="modal" data-target="#modalDelete">Remove</button>
                            &nbsp;
                            <button type="button" class="btn btn-sm btn-primary active" data-toggle="modal" data-target="#modalUpdate">Update</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>abc</td>
                        <td>This is a content</td>
                        <td>Hard</td>
                        <td>0.5</td>
                        <td>
                            <label class="switch switch-pill switch-success">
                                <input type="checkbox" class="switch-input" checked>
                                <span class="switch-slider"></span>
                            </label>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-danger active" data-toggle="modal" data-target="#modalDelete">Remove</button>
                            &nbsp;
                            <button type="button" class="btn btn-sm btn-primary active" data-toggle="modal" data-target="#modalUpdate">Update</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>abc</td>
                        <td>This is a content</td>
                        <td>Hard</td>
                        <td>0.5</td>
                        <td>
                            <label class="switch switch-pill switch-success">
                                <input type="checkbox" class="switch-input" checked>
                                <span class="switch-slider"></span>
                            </label>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-danger active" data-toggle="modal" data-target="#modalDelete">Remove</button>
                            &nbsp;
                            <button type="button" class="btn btn-sm btn-primary active" data-toggle="modal" data-target="#modalUpdate">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal Add-->
<!-- The Modal -->
<div class="modal" id="modalAdd">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header alert-success">
                <h4 class="modal-title">New Question</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="row form">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="type">Type:</label>
                                        <select class="form-control" id="type">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="subname">Content:</label>
                                        <textarea class="form-control" rows="5" id="content"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="level">Level:</label>
                                        <select class="form-control" id="level">
                                            <option>Easy</option>
                                            <option>Normal</option>
                                            <option>Hard</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="score">Score:</label>
                                        <input class="form-control" type="text" name="score" id="score" placeholder="Score">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Add-->
<!-- The Modal -->
<div class="modal" id="modalUpdate">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header alert-primary">
                <h4 class="modal-title">Update Subject Information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="row form">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="type">Type:</label>
                                        <select class="form-control" id="type">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="content">Content:</label>
                                        <textarea class="form-control" rows="5" id="content"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="level">Level:</label>
                                        <select class="form-control" id="level">
                                            <option>Easy</option>
                                            <option>Normal</option>
                                            <option>Hard</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="score">Score:</label>
                                        <input class="form-control" type="text" name="score" id="score" placeholder="Score">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Delete-->
<!-- The Modal -->
<div class="modal fade" id="modalDelete">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header alert-danger">
                <h4 class="modal-title">Warning</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p class="alert alert-danger">Are you sure? This question will be deleted!!!</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>