<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> List Type Question
        </div>
        <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped row-border hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let type of typeList; let i =index">
                        <td>{{i + 1}}</td>
                        <td>{{type.maLoai}}</td>
                        <td>{{type.tenLoai}}</td>
                        <td>
                            <label class="switch switch-label switch-pill switch-success">
                                <input type="checkbox" class="switch-input" [checked]="type.hienThi == true" #hthi (change)="Changed(i, $event)">
                                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                            </label>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary active" data-toggle="modal" data-target="#modalUpdate" (click)="Value(i)"><i class="fas fa-pencil-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Modal Update-->
<!-- The Modal -->
<ngx-loading-bar [includeSpinner]='false'></ngx-loading-bar>
<form [formGroup]="form">
<div class="modal" id="modalUpdate">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header alert-primary">
                <h4 class="modal-title">Update Type Question Information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="row form">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="subname">Name:</label>
                                        <input class="form-control" type="text" name="subname" id="subname" placeholder=" Type Question Name" value='{{ten}}' [(ngModel)]="upt.name" [formControl]="form.controls['name']">
                                    </div>
                                    <p *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="text-danger" >Name is required</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Update()" [disabled]="!form.valid" >Save</button>
            </div>
        </div>
    </div>
</div>
</form>
